.follows-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.follows-info {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.follows-ticket-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 40%;
}
